<style type="text/css">
@media print {
        header nav, footer {
        display: none;
        }

        @page {
        margin: 0.1cm;
        padding: 0;
        }

        body
        {
            font-size:4pt;
            border: solid 1px blue ;
            padding: 0;
        }

        table, th, td, tr
        {
          text-align:right;

        }

        td {
        max-width: 5pt
        }

        h4, h1, h2, h3, h5, h6 {
           font-size:6pt;
        }

        h6 {
        font-size:6pt;
        }

    }
</style>